{% extends 'base.html' %}
{% load static %}
{% block content %}

      <div class="container container-small">
        <h1>
          <small>没有账号？<a href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a></small>
        </h1>
        <form action="#" method="POST">
            {% csrf_token %}
            {% for field in login_form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            <p class="text-danger">{{ field.errors.as_text }}</p>
            {% endfor %}
            <span class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
            <input type="submit" value="登录" class="btn btn-primary btn-block">
        </form>
      </div>

    <div class="footer">
      
    </div>
 {% endblock %}